<h1>Edit an article</h1>
<form method="POST" action="/articles/<%=@article.id%>">
	<input id="hidden" type="hidden" name="_method" value="patch">
	Title<input type="text" value="<%=@article.title%>" name="title">
	Content<input type="text" value="<%=@article.content%>" name="content">
	<input type="submit" value="submit">
</form>
